body{
    background-color: #00553f;
    min-height: 100vh;
}

/* Estilos para autocompletar */
input:-webkit-autofill{
    -webkit-text-fill-color: #FF9F14 !important;
    background-color: transparent !important;
}
